.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #1f2937;
  color: #1f2937;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 110px; /* Réduit la taille quand il est fermé */
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 60px;
  height: 60px;
}

.toggle-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  padding: 0;
}

.nav-links li {
  margin: 15px 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  font-size: 1em;
  padding: 10px;
  transition: background 0.3s ease;
}

.nav-links a fa-icon {
  margin-right: 10px;
}

.nav-links a:hover {
  background-color: #3b82f6;
}

.sidebar.collapsed .nav-links a {
  justify-content: center;
}

.sidebar.collapsed .nav-links a span {
  display: none; /* Cache le texte */
}
